@forward "../../styles/partials/globals";
@use "../../styles/partials/colors" as *;

.challenge {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &__count-button {
        border: none;
        border-radius: 30px;
        padding: 20px 40px;
        background-color: $color-secondary-medium;
        color:$color-primary-dark;
        font-weight:bold;
    }
}  