//Primary colors
$color-primary-dark: #C69709;
$color-primary-medium: #F9D876;
$color-primary-light: #fefbf3;

//Secondary colors
$color-secondary-dark: #4b4a4a;
$color-secondary-medium: #FBE39D;
$color-secondary-light: #ffffff;

//additional colors
$color-hover-link:#f1b80c;
$color-secondary-background: #fdf0c8;
$color-placeholder:rgb(213, 213, 213);
$button-active: green;
$button-start:rgb(54, 82, 208);