// // Primary colors
// $primary-text-color: #13182C;
// $primary-color: #2E66E5;

// // Secondary colors
// $secondary-text-color: #5C667E;
// $border-color: #BDC5D5;

// // background colors
// $primary-background-color: #232940;
// $secondary-background-color: #F7F8F9;

// $green-color: #156463;
// $red-color: #C94515;
// $white-color: #FFFFFF;


// //Primary colors
// $color-primary-dark: #EFA710;
// $color-primary-medium: #EFA710;
// $color-primary-light: #E8D4C0;

// //Secondary colors
// $color-secondary-dark: #AD7F79;
// $color-secondary-medium: #DCAD90;
// $color-secondary-light: #F6F0F0;

//Primary colors
$color-primary-dark: #C69709;
$color-primary-medium: #F9D876;
$color-primary-light: #fefbf3;

//Secondary colors
$color-secondary-dark: #4b4a4a;
$color-secondary-medium: #FBE39D;
$color-secondary-light: #ffffff;

//additional colors
$button:rgb(185, 185, 185);
$button-done: green;
$button-start:rgb(54, 82, 208);