@import './colors';
@import './mixins';
@import './_variables';
@import './_fonts';

* {
    font-family: 'Avenir Next';
}

body {
    // background-color: $color-primary-light;
    background: rgb(249,216,118);
    background: linear-gradient(343deg, rgba(249,216,118,1) 0%, rgba(252,236,186,1) 35%, rgba(254,251,243,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:$color-secondary-dark;
}

p {
    font-size:1.4rem;
}

h1{
    font-size:2.5rem;
}
h2{
    font-size:2.1rem;
}
h3{
    font-size:1.8rem;
}

h4{
    font-size:1.3rem;
}

button {
    font-size:1.1rem;
//     border:none;
//     border-radius:30px;
//     padding:20px 40px;
//     background-color:$color-secondary-medium;
}

input{
    width: 60%;
    height: 2rem;
    border: 1px solid grey;
    border-radius: 10px;
    padding-left:10px;
    margin-right:10px;
}