@forward "../../styles/partials/globals";
@use "../../styles/partials/colors" as *;

.main {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &__random-quote {
    margin: 3rem 0;
  }
  &__advice {
    // border: 2px solid rgb(193, 193, 193);
    background-color:$color-primary-light;
    border-radius: 20px;
    // height: 400px;
    padding: 40px;

    & form {
      & input {
        width: 60%;
        height: 2rem;
        border: 1px solid grey;
        border-radius: 10px;
        padding-left:10px;
      }
      & button {
        width:80px;
        height: 2rem;
        margin-left:10px;
        border:none;
        border-radius: 10px;
        // background-color:$button;
      }
    }
  }

  &__answer{
    padding:50px 20px;
  }
  &__answer-quote{
    margin-bottom:50px;
  }
}
