@use "../../styles/partials/colors" as *;

.header {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: $color-primary-medium;
  font-size: 1.5rem;

  &__links {
  }
  &__link {
    padding: 0 10px;
    text-decoration: none;
    color: $color-primary-dark;
    font-weight: 600;
  }
}
